<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody class="books_favorite">
			<%= render 'books/books_favorite',books: books%>
	</tbody>
</table>