<% if @book_new.errors.any? %>
	<div class="alert alert-warinig">
		<h2><%= @book_new.errors.count %>件のエラーがあります。</h2>
		<ul>
			<% @book_new.errors.full_messages.each do |message| %>
				<li style="color: red"><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<%= render 'users/list' ,user:@user,book:@book_new %>
<div class="col-xs-9">
	<h2>Books</h2>
	<%= render 'index',books: @books%>
</div>